body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	font-size: 15px;
}

nav {
	height: 50px;
	width: 100%;
	background-color: #E8E8E8;
	position: absolute;
	top: 0;
	left: 0;
}

h1 {
	position: absolute;
	margin-top: 10px;
	left: 20px;
	font-weight: lighter;
}

nav ul {
	list-style-type: none;
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 15px;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	color: purple;
	padding: 3px;
}

main {
	margin-left: 90px;
}

input {
	margin-top: 80px;
	color: #E8E8E8;
	font-size: 15px;
	width: 400px;
	height: 20px;
	border-radius: 5px;
}

.fa-search {
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	margin-left: 2px;
	padding: 5px;
}

.results-page {
	margin-top: 20px;
	margin-bottom: 15px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.results-page li {
	margin: 0 0 0 0;
	padding: 8px;
	float: left;

}

.results-page li.dividers {
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
}

.results-list {
	padding: 0;
	margin-top: 5px;
	color: #C4C4C4;
	list-style-type: none;
}


.results-list span {
	padding: 10px;
}

.fa-star {
	padding-left: 0px;
}

.job {
	color: blue;
	font-weight: bold;
}